@import '../base/variables.scss';

@import '../blocks/promo.scss';
@import '../blocks/header.scss';
@import '../blocks/buttons.scss';
@import '../blocks/advantages.scss';
@import '../blocks/consultation.scss';
@import '../blocks/carousel.scss';
@import '../blocks/catalog.scss';
@import '../blocks/reviews.scss';

@import '../blocks/title.scss';
@import '../blocks/forms.scss';

@import '../media/header-media.scss';
@import '../media/button-media.scss';
@import '../media/promo-media.scss';
@import '../media/advantages-media.scss';
@import '../media/consultation-media.scss';
@import '../media/carousel-media.scss';
@import '../media/catalog-media.scss'; 
@import '../media/reviews-media.scss';


@import '../media/forms-media.scss';
@import '../media/title-media.scss';
 


 
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
 
 
 
 