@media (max-width: 1200px) {
.carousel {
    width: 100%;
    .slick-track {
        img {
            width: 80%;
        }
    }
}
}
@media (max-width: 991px)  {
.carousel {
    width: 100%;
    .slick-track {
        img {
            width: 80%;
        }
    }
} 
}
 
@media (max-width: 767px) {
 .carousel {
    width: 100%;
    .slick-track {
        img {
            width: 80%;
        }
    }
}
}
@media (max-width: 575px) {
.carousel {
    width: 100%;
    .slick-track {
        img {
            width: 80%;
        }
    }
}
}
@media (max-width: 300px) {

}