@media (max-width: 1200px) {
.consultation {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

}
@media (max-width: 991px)  {
.consultation {
    &__wrapper {
        width: 100%;
         display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__descr {
        font-size: 18px;
    }
}
   
}
 
@media (max-width: 767px) {
.consultation {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align:  center;
        align-items: center;
    }
    &__descr {
        font-size: 15px;
    }
} 

}
@media (max-width: 575px) {
    .consultation {
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align:  center;
        align-items: center;
    }
    &__descr {
        font-size: 12px;
    }
} 
 

}
@media (max-width: 300px) {

}
