@media (max-width: 1200px) {
 
}
@media (max-width: 991px)  {
.modal {
    min-height: 350px;
    width: 320px;
     
    &__subtitle {
        font-size: 18px;
    }
    &__descr {
        font-size: 14px;
    }
  
}
}
 
@media (max-width: 767px) {
.modal {
    min-height: 300px;
    width: 270px;
    
    &__close {
        right: -30px;
    } 
    &__subtitle {
        font-size: 16px;
    }
    &__descr {
        font-size: 12px;
    }
}
 
    
}
@media (max-width: 575px) {
.modal {
    min-height: 240px;
    width: 210px;
    
    &__close {
        right: -25px;
    } 
    &__subtitle {
        font-size: 14px;
    }
    &__descr {
        font-size: 11px;
    }
 
}
@media (max-width: 375px) {

}
}
