.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg/bg.png) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.promo__link a {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 258px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
.header span {
  display: block;
  font-size: 18px;
}
.header__phone {
  font-size: 18px;
  display: block;
  color: white;
  text-decoration: none;
}
.header__phone:hover {
  color: white;
  text-decoration: none;
}
.header__phone__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: flex-end;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}
.button__submit {
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 16px;
}
.button_mini {
  height: 40px;
  font-size: 14px;
}

.advantages {
  min-height: 400px;
  background-color: #F6F6F6;
}
.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 20px 30px 20px 30px;
}
.advantages__icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__icon__title {
  text-align: center;
}
.advantages__descr {
  text-align: center;
}
.advantages__descr span {
  color: red;
}
.advantages .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0 auto;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg/bg2.png") center center/cover no-repeat;
}
.consultation__descr {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.consultation .error {
  border: 1px solid red;
}
.consultation label.error {
  color: white;
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel .slick-dots {
  list-style: none;
}
.carousel .slick-dots button {
  border: none;
  border-radius: 100%;
  background-color: Gainsboro;
  width: 2px;
  height: 12px;
}
.carousel .slick-dots .slick-active button {
  background-color: darkgray;
}

.slick-prev, .slick-next {
  border: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  background-color: white;
  position: absolute;
}
.slick-prev img, .slick-next img {
  width: 31px;
  height: 50px;
}

.slick-next {
  left: auto;
  right: -66px;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tags {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid gray;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  margin: 0 5px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px red;
          box-shadow: 3px 3px 20px red;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 250px;
  border: 2px solid grey;
  min-height: 400px;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 15px;
  color: black;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  text-align: center;
}
.catalog-item__link:hover {
  color: #c70101;
}
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 55px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-97%);
          transform: translateX(-97%);
  margin-right: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  list-style-type: none;
  width: 85%;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -20px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: #c70101;
}

.reviews__wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__wrapper__photo {
  width: 200px;
  margin: 0 auto;
  width: 100%;
}
.reviews__block {
  display: inline-block;
}
.reviews__block__info {
  margin-left: 60px;
}
.reviews__name {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.reviews__marathons {
  margin-top: 0;
  line-height: 22px;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}
.reviews__comment {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.44px;
  margin-right: 30px;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 200px;
  background-color: #c70101;
  padding: 50px 68px 60px 68px;
}
.footer__addr {
  margin-bottom: 36px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}
.footer__phone {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 38px;
  text-align: center;
  line-height: 20px;
}
.footer__phone:hover {
  color: #fff;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 100%;
  margin: 0 15px;
  cursor: pointer;
}
.footer__social-item img {
  height: 27px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 400px;
  width: 380px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: #c70101;
  cursor: pointer;
}
.modal__subtitle {
  color: black;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}
.modal__descr {
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.modal_mini {
  min-height: 100px;
  padding-top: 70px;
}
.modal .error {
  border: 1px solid red;
}
.modal label.error {
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

#consultation, #order, #thanks {
  display: none;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title__left {
  color: #fff;
  font-size: 36px;
  text-align: left;
  text-transform: uppercase;
}
.title__reviews {
  margin-bottom: 60px;
}

.feet-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin-top: 36px;
}
.feet-form input {
  height: 50px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
}
.feet-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feet-form_mt25 {
  margin-top: 25px;
  width: 100%;
}

@media (max-width: 1200px) {
  .header {
    width: 94%;
  }
}
@media (max-width: 991px) {
  .header {
    margin: 0 auto;
  }
  .header__logo {
    width: 25%;
  }
  .header__official {
    font-size: 12px;
    width: 32%;
  }
  .header span {
    font-size: 14px;
  }
  .header__phone {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header {
    width: 80%;
    margin: 0 auto;
  }
  .header__logo {
    width: 30%;
  }
  .header__official {
    font-size: 7px;
  }
  .header span {
    font-size: 11px;
  }
  .header__phone {
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .header span {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  .button_mini {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .button {
    width: 150px;
    height: 30px;
    font-size: 11px;
  }
  .button_main {
    margin-right: 30px;
    width: 250px;
    height: 50px;
    font-size: 14px;
  }
  .button__submit {
    width: 100%;
    height: 55px;
    color: #fff;
    font-size: 16px;
  }
  .button__submit_m {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    height: 20px;
    font-size: 7px;
  }
  .button_main {
    width: 40%;
    height: 35px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 10px;
  }
  .button__submit {
    width: 89%;
    height: 55px;
    color: #fff;
    font-size: 14px;
  }
  .button__submit_m {
    width: 95%;
    height: 40px;
    font-size: 11px;
  }
}
@media (max-width: 575px) {
  .button_main {
    width: 50%;
    height: 35px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 9px;
  }
  .button__submit {
    width: 83%;
    height: 40px;
    font-size: 11px;
  }
  .button__submit_m {
    width: 90%;
    height: 40px;
    font-size: 11px;
  }
}
@media (max-width: 1200px) {
  .promo__wrapper {
    width: 900px;
  }
}
@media (max-width: 991px) {
  .promo {
    min-height: 400px;
  }
  .promo__wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 90%;
  }
  .promo__header {
    font-size: 30px;
    padding-right: 30px;
    line-height: 10px;
  }
  .promo__subheader {
    font-size: 18px;
    padding-right: 30px;
    line-height: 10px;
  }
  .promo__icons {
    width: 350px;
    padding-right: 40px;
  }
  .promo__link {
    padding-right: 30px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 90px;
    width: 80%;
  }
  .promo__header {
    padding-right: 0;
    font-size: 25px;
    margin: 10px 0 10px 0;
  }
  .promo__subheader {
    padding-right: 0;
    font-size: 15px;
    margin: 10px 0 10px 0;
  }
  .promo__icons {
    padding-right: 0;
    margin-top: 50px;
  }
  .promo__icon {
    font-size: 11px;
  }
  .promo__icon img {
    width: 25%;
  }
  .promo__link {
    padding-right: 0;
    font-size: 10px;
  }
}
@media (max-width: 575px) {
  .promo__header {
    font-size: 22px;
  }
  .promo__subheader {
    font-size: 12px;
  }
  .promo__wrapper {
    width: 80%;
  }
  .promo__icons {
    width: 100%;
  }
  .promo__icon {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .row {
    width: 90%;
  }
}
@media (max-width: 991px) {
  .row {
    width: 70%;
  }
  .advantages__icon img {
    width: 80%;
  }
  .advantages__icon__title {
    font-size: 16px;
  }
  .advantages__descr {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .advantages__block {
    padding: 20px 20px 20px 20px;
  }
  .row {
    width: 70%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 575px) {
  .row {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .consultation__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 991px) {
  .consultation__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consultation__descr {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .consultation__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation__descr {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .consultation__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation__descr {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .carousel {
    width: 100%;
  }
  .carousel .slick-track img {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .carousel {
    width: 100%;
  }
  .carousel .slick-track img {
    width: 70%;
    margin: 0 auto;
  }
  .carousel__inner {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .carousel {
    width: 100%;
  }
  .carousel .slick-track img {
    width: 80%;
    margin: 0 auto;
  }
  .carousel__inner {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .carousel {
    width: 100%;
  }
  .carousel .slick-track img {
    width: 80%;
    margin: 0 auto;
  }
  .carousel__inner {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .catalog__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 22px;
  }
  .catalog__tags {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .catalog__tab {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .catalog__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 575px) {
  .catalog__tags {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .catalog__tab {
    height: 40px;
    line-height: 15px;
    font-size: 10px;
    margin: 0 auto;
    margin: 0 2px 0 2px;
    line-height: none;
  }
  .catalog__content {
    margin-top: 20px;
  }
  .catalog div {
    padding-top: 12px;
  }
  .catalog .catalog-item__subtitle {
    font-size: 16px;
  }
  .catalog .catalog-item__descr {
    font-size: 14px;
  }
  .catalog .catalog-item__old-price {
    font-size: 14px;
  }
  .catalog .catalog-item__price {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .reviews__block {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .reviews__block img {
    width: 140px;
  }
  .reviews__name {
    font-size: 16px;
  }
  .reviews__marathons {
    font-size: 12px;
  }
  .reviews__comment {
    font-size: 14px;
    margin-right: 30px;
  }
}
@media (max-width: 575px) {
  .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reviews__wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__block {
    margin: 0 auto;
    text-align: center;
  }
  .reviews__name {
    text-align: center;
  }
  .reviews__marathons {
    text-align: center;
  }
  .reviews__comment {
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    margin: 0 20px 50px 20px;
  }
}
@media (max-width: 1200px) {
  .footer__info {
    height: 170px;
  }
  .footer__addr {
    font-size: 18px;
  }
  .footer__phone {
    font-size: 18px;
  }
  .footer__social-item {
    width: 40px;
    height: 40px;
  }
  .footer__social-item img {
    height: 25px;
  }
}
@media (max-width: 991px) {
  .footer__info {
    height: 160px;
  }
  .footer__addr {
    font-size: 16px;
    line-height: 15px;
  }
  .footer__phone {
    font-size: 16px;
    line-height: 15px;
  }
  .footer__social-item {
    width: 32px;
    height: 32px;
  }
  .footer__social-item img {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .footer__info {
    height: 140px;
  }
  .footer__addr {
    font-size: 14px;
    line-height: none;
    margin-bottom: 25px;
  }
  .footer__phone {
    font-size: 14px;
    line-height: none;
    margin-bottom: 30px;
  }
  .footer__social-item {
    width: 32px;
    height: 32px;
  }
  .footer__social-item img {
    height: 20px;
  }
}
@media (max-width: 575px) {
  .footer__info {
    height: 120px;
  }
  .footer__addr {
    font-size: 14px;
    line-height: none;
    margin-bottom: 20px;
  }
  .footer__phone {
    font-size: 14px;
    line-height: none;
    margin-bottom: 20px;
  }
  .footer__social-item {
    width: 28px;
    height: 28px;
  }
  .footer__social-item img {
    height: 15px;
  }
}
@media (max-width: 991px) {
  .modal {
    min-height: 350px;
    width: 320px;
  }
  .modal__subtitle {
    font-size: 18px;
  }
  .modal__descr {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .modal {
    width: 270px;
    padding: 30px 32px 30px 32px;
  }
  .modal__close {
    right: -30px;
  }
  .modal__subtitle {
    font-size: 16px;
  }
  .modal__descr {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .modal {
    width: 210px;
    padding: 20px 22px 20px 22px;
  }
  .modal__close {
    right: -25px;
  }
  .modal__subtitle {
    font-size: 14px;
  }
  .modal__descr {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .feet-form {
    margin: 0 auto;
    margin-top: 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .feet-form input {
    height: 40px;
    width: 80%;
    font-size: 11px;
  }
  .feet-form_mt25 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .feet-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feet-form input {
    height: 40px;
    width: 70%;
    font-size: 11px;
  }
  .feet-form_mt25 {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .title__left {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .title__left {
    font-size: 28px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .title__left {
    font-size: 20px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */